@using ApiProjeKampi_WebAPI.DTOs.ReservationDTOs
@model UpdateReservationDTO
@{
    ViewData["Title"] = "UpdateReservation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="section-body">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <form method="post">
                    <div class="card-header">
                        <h4>Rezervasyon Güncelle</h4>
                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="ReservationId" class="form-control" />
                        <div class="form-group">
                            <label>Ad - Soyad</label>
                            <input type="text" asp-for="NameSurname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>E-Posta</label>
                            <input type="email" asp-for="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Telefon Numarası</label>
                            <input type="tel" asp-for="PhoneNumber" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Tarih</label>
                            <input type="date" asp-for="ReservationDate" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Saat</label>
                            <input type="text" asp-for="ReservationTime" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Kişi Sayısı</label>
                            <input type="number" asp-for="CountOfPeople" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Mesaj</label>
                            <textarea rows="5" asp-for="Message" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Rezervasyon Durumu</label>
                            <input type="text" asp-for="ReservationStatus" value="Beklemede" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary mr-1" type="submit">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

